/* Commons - Participants */

ul.participants {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


ul.participants li {
  display: inline-block;
  margin: 20px;
  width: 90px;
  vertical-align: middle;
}

ul.participants li a {
  position: relative;
  display: inline-block;
}

ul.participants li a img {
  max-width: 90px;
  max-height: 60px;
  transition: all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

ul.participants li a img:hover{
  transform: scale(1.33);
}
